.card-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px white;
    text-align: center;
    height: 300px;
    max-width: 200px;
    max-height: 300px;
    margin: 20px;
    justify-content: space-between;
}
#img{
    /* min-height: 200px; */
    height: 220px;
    width: 180px;
    border-radius: 5px;
    border: 1px solid transparent;
}
p{

    margin-top: 5px;
    font-size: 18px;
    font-family: roboto;
    font-weight: 600;
    width: 110%;
    color: rgb(63, 63, 63);
}
.btn-viewDetail{
    border: 1px transparent;
    border-radius: 3px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    background-color: transparent;
    border: 1px solid #f84464;
    color: #f84464;
    font-size: 15px;
    font-weight: 500;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.btn-viewDetail:hover{
    background-color: #f84464;
    color: white;
}


@media (width>=401px) and (width<=1024px){
    .card-items img{
        height: 150px !important;
        width: 120px !important;

    }
    .card-items{
        height: 220px;
        margin: 5px !important;
        margin-top: 20px !important;
    }
    p{
        font-size: 13px;
        font-weight: 600;

        letter-spacing: -0.3px;
    }
    .btn-viewDetail{
        font-size: 13px;
    }
}

