.elem-container{
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100vh;
}
.wrapper{
    margin-top: 65px;
    padding-top: 1px;
    height: 100vh;

}
.movie-details{
    display: flex;
    align-items: center;
    flex:50%;
    justify-content: center;
}
.booking-details{
    display: flex;
    align-items: center;
    flex: 50%;
}
.details-holder{
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-evenly; */
    flex: 50%;
    /* height: 80%; */

}
.form-container{
    height: 65% ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 3px ;
    box-shadow:0px 0px 10px -2px;
    /*flex: 50%;*/
    -webkit-border-radius: 3px ;
    -moz-border-radius: 3px ;
    -ms-border-radius: 3px ;
    -o-border-radius: 3px ;
}
.form-item1,.form-item2,.form-item3,.form-item4,.form-item5{
    width: 90%;
    height: 55px;
}
*:focus{
    outline: none;
}
.input-area{
    width: 90%;
    height: 30px;
    border: 0px;
    border-bottom: 1px solid black;
}
.header{
    /* margin-top: 100px; */
    width: 100%;
    text-align: center;
}
.movie-details p{
    width: 100%;
    margin: 10px;
}
.img-img-holder{
    text-align: center;
    width: 100%;
}
.img{
    /* object-fit: contain !important; */
    height: 400px !important;
    width: 100%;
}
.details-holder p{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: justify;
    /* padding: 10px; */
}
.details-holder h3{
    margin: 0;
    width: 100%;
    font-size: 20px;
    font-weight: 700;
    font-family: monospace;
}
.header h2{
    font-family: monospace;
    font-size: 30px;
    word-spacing: -1px;
}
.para-text{
    margin: 0;
}
@media (width<=800px){
    .elem-container{
        flex-direction: column;
        height: 130vh;
    }
    .booking-details, .movie-details{
        flex: 0%;
    }
    .form-container{
        height: 70%;
    }
    .booking-details{
        justify-content: center;
    }
    .details-holder p{
        font-size: 10px;
    }
    .details-holder h3{
        font-size: 10px;

    }
    .img{
        object-fit: fill ;

    }
    .form-item1, .form-item2{
        text-align: left;
    }
    .input-area{
        width: 100%;
        height: 15px;
    }
    .para-text{
        margin: 0;
    }
    .form-item1,.form-item2,.form-item3,.form-item4,.form-item5{
        height: 40px;
    }
    .header h2{
        font-size: 20px;
    }
}
@media (width>=801px) and (width<=2500px){
    .form-container{
        height: 500px;
    }
    .input-area{
        width: 100%;
    }
}
@media (width>=1300px) {
    .img{
        object-fit: cover !important;
    }
}
